@use "partials/header";
@use "partials/footer";
@import "partials/variables";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "/node_modules/@fortawesome/fontawesome-free/webfonts";
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Roboto Condensed', sans-serif;
    //font-family: 'Cabin', sans-serif;
}

.main-container {
    margin-bottom: 100px;
}

.page-title {
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 2.2rem;
    font-weight: 600;
}

.nav-link {
    &.active {
        color: crimson;
    }
}

.vh-100 {
    height: 100vh;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.text-align {
    vertical-align: middle;
}

.icon_plus {
    height: 30px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    text-align: center;
    font-weight: 800;
    background-color: $my-color-primary;
    padding: 10px;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    i {
        padding: 5px;
        color: white;
        transition: .3s;
        font-size: 25px;
    }
}

.admin-action-buttons {
    .action-button {
        color: $my-color-primary;

        i {
            padding: 10px;
            font-size: 20px;
            opacity: .8;
            transition: .3s;

            &:hover {
                opacity: 1;
                scale: 1.1;
            }
        }
    }
}

.table {
    margin-top: 20px;
}

.alert {
    margin-top: 15px;
}

.project-img-wrapper {
    max-width: 600px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}
